.body {
    height: 100%;
    min-height: 100%;
    background-image: url(../../assets/images/bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 300;
  }
  
  h3 {
    font-size: 1.3rem;
  }
  
  .tm-site-logo {
    width: 40px;
    height: 40px;
    border: 7px solid white;
    transform: rotate(45deg);
    display: inline-block;
    vertical-align: middle;
  }
  
  .tm-site-title {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }
  
  .tm-site-header {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 0;
  }
  
  .tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
  }
  
  

  
  .tm-welcome-text {
    margin-top: 65px;
    margin-bottom: 65px;
    font-size: 2.2rem;
  }
  
  .tm-font-400 {
    font-weight: 100;
  }
  
  .tm-text-light-gray {
    color: #CDCDCD;
  }
  
  .tm-text-gray {
    color: #CCCCCC;
  }
  
  .tm-text-white {
    color: #FFFFFF;
  }
  
  a.tm-text-white:hover,
  a.tm-text-white:focus {
    color: #FFFFFF;
  }
  
  .tm-text-green {
    color: #B1B479;
  }
  
  .tm-text-cyan {
    color: #58B2DC;
  }
  
  .tm-text-yellow {
    color: #FFFF66;
  }
  
  .tm-text-orange {
    color: #DCB879;
  }
  
  .tm-bg-dark {
    background-color: #262626;
  }
  
  .tm-bg-dark-light {
    background-color: #404040;
  }
  
  .tm-timeline-item {
    margin-left: 70px;
  }
  
  .tm-timeline-item-inner {
    display: flex;
    align-items: center;
  }
  
  .tm-img-timeline {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .tm-timeline-connector {
    width: 55px;
    height: 3px;
    background-color: #404040;
  }
  
  .tm-timeline-connector-vertical {
    height: 30px;
    width: 3px;
    background-color: #404040;
    margin-left: 260px;
  }
  
  .tm-timeline-description {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 35px 40px;
    width: 790px;
  }

  .tm-card {
    background:rgba(0,0,0,0);
    margin: 32px 0;
    padding: 10px
  }
  

  
  .tm-section-mt {
    margin-top: 85px;
  }
  
  .tm-contact-form {
    max-width: 500px;
  }
  
  .form-control {
    border-radius: 0;
    border-color: #666666;
    color: #CCC;
    background: transparent;
    padding: 12px 15px;
  }
  
  .form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    opacity: 1;
    /* Firefox */
  }
  
  .form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #DDDDDD;
  }
  
  .form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #DDDDDD;
  }
  
  iframe {
    max-width: 100%;
  }
  
  #google-map {
    max-width: 500px;
    width: 100%;
    height: 300px;
  }
  
  .tm-btn-send {
    border-radius: 0;
    font-size: 1.1rem;
    padding: 12px 50px;
    background: transparent;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
  }
  
  .tm-btn-send:hover,
  .tm-btn-send:focus {
    background: #CCCCCC;
    color: #333333;
  }
  
  .form-control:focus {
    background-color: transparent;
    border-color: #CCCCCC;
    color: #FFF;
    box-shadow: 0 0 0 0.2rem #cccccc14;
  }
  
  input,
  textarea,
  [contenteditable] {
    caret-color: #FFFFFF;
  }
  
  p {
    line-height: 1.9;
  }
  

  
  
  
  
  
  

  

  
  
  
  /* Nav Bar */
  
  nav .logo {
    float: left;
    margin-left: 30px;
  }
  
  nav .logo a {
    font-size: 28px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
  }
  
  nav .logo em {
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
  }
  
  nav {
    background: rgba(250, 250, 250, 0.2);
    height: 60px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 300;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  }


  
  
  .menu-icon {
    background: transparent;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    margin: 15px 39px 0 auto;
    position: relative;
    cursor: pointer;
    transition: background 0.5s;
    border-radius: 5px;
  }
  
  .menu-icon span,
  .menu-icon span:before,
  .menu-icon span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 2px;
    width: 20px;
    background: white;
    position: absolute;
    left: 15%;
    top: 50%;
    display: block;
    content: '';
    transition: all 0.5s ease-in-out;
  }
  
  .menu-icon span:before {
    left: 0;
    top: -10px;
  }
  
  .menu-icon span:after {
    left: 0;
    top: 10px;
  }
  
  .menu-icon.active {
    background: rgba(250, 250, 250, 0.2);
  }
  
  .menu-icon.active span {
    background-color: transparent;
  }
  
  .menu-icon.active span:before,
  .menu-icon.active span:after {
    top: 0;
  }
  
  .menu-icon.active span:before {
    transform: rotate(135deg);
  }
  
  .menu-icon.active span:after {
    transform: rotate(-135deg);
  }
  
  /* Main */
  #main>.inner {
    width: 72rem;
    margin-top:20px; 
    /* max-width: 100%; */
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.95);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
  }
  
  
  #main .image img {
    width: 100%;
  }
  
  .wrapper>header {
    text-align: center;
    background: #FFF;
    padding: 2rem;
    margin: 0;
  }
  
  .wrapper>header h2 {
    position: relative;
    padding-bottom: .75rem;
  }
  
  .wrapper>header h2:after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.125);
  }
  
  .wrapper>header p {
    text-transform: uppercase;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .25rem;
    margin: 0;
  }
  
  .wrapper>header.special {
    padding: 2rem 1rem;
  }
  
  .wrapper.style1 .content {
    padding: 3rem;
  }
  .content>p {
      font-size: 0.9rem;
    }
  